.bookTrialWrapper {
  position: relative;
  padding: 35px;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.text {
  margin-bottom: 20px;
  line-height: 137%;
  color: rgba(18, 20, 23, 0.8);
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  stroke: var(--color-primary);
}

.teacherWrapper {
  display: flex;
  gap: 14px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 40px;
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
}

.name {
  font-weight: 500;
  line-height: 150%;
}

.formTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .bookTrialWrapper {
    padding: 44px;
  }

  .title {
    font-size: 40px;
  }

  .closeIcon {
    top: 20px;
    right: 20px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .bookTrialWrapper {
    padding: 64px;
  }
}
