.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* затемнення */
  backdrop-filter: blur(6px); /* блюр */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.25s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
