.wrapper {
  position: relative;
}

.label {
  font-size: 14px;
  color: #8a8a89;

  margin-bottom: 6px;
}

.select {
  width: 198px;
  height: 44px;
  background: #fff;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  cursor: pointer;
  border: 1px solid transparent;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  fill: none;
  stroke: var(--color-primary);
  transition: transform 0.25s ease;
}

.select.open .icon {
  transform: rotate(180deg);
}

.dropdown {
  padding-top: 8px;
  padding-bottom: 8px;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);

  z-index: 10;
}

.item {
  padding: 8px 18px 8px 18px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: rgba(28, 20, 23, 0.2);
  transition: 250ms;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item:hover {
  background: #f6f6f6;
}

.active {
  color: var(--color-primary);
}
