/* BACKDROP */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* затемнення */
  backdrop-filter: blur(6px); /* блюр */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.25s ease forwards;
}

/* MODAL WINDOW */
.modal {
  width: 80%;
  max-width: 100%;
  background: #fff;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

  opacity: 0;
  transform: translateY(-20px) scale(0.98);
  animation: popup 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes popup {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* ===== TABLET ===== */
@media (min-width: 768px) {
  .modal {
    width: 566px;
    border-radius: 24px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .modal {
    width: 566px;
  }
}
