.heroWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}
.titleWrapper {
  padding: 32px 22px 32px 22px;
  border-radius: 30px;
  background-color: #f8f8f8;
}
.title {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.17;
}
.titleSpan {
  font-style: italic;
  font-weight: 400;
  background-color: var(--color-profile-second);
}

.titleText {
  margin-bottom: 32px;
}

.titleBtn {
  border-radius: 12px;
  background-color: var(--color-profile);
  width: 100%;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  transition: background 250ms linear, transform 250ms linear;
}

.titleBtn:hover,
.titleBtn:focus {
  background-color: var(--color-profile-second);
  transform: translateY(-1px);
}

.titleBtn:active {
  background-color: var(--color-profile);
  transform: scale(0.96) translateY(0);
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .titleWrapper {
    padding: 49px 54px 49px 32px;
  }
  .title {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .titleText {
    margin-bottom: 64px;
  }

  .titleBtn {
    width: 267px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .heroWrapper {
    flex-direction: row;
  }
  .titleWrapper {
    width: 720px;
    padding: 98px 108px 98px 64px;
  }

  .imgWrapper {
    border-radius: 30px;
    width: 568px;
  }
}
