.listContainer {
}

.list {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.listItem {
  display: flex;
  gap: 16px;
  padding: 12px;
  background-color: #fff;
  border-radius: 24px;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 8px;
  border-radius: 50%;
  border: 3px solid var(--color-profile-second);
  overflow: hidden;
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.teacherContainer {
  display: flex;
  gap: 22px;
}

.teacherInfo {
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-shrink: 0;
}

.titleText {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #8a8a89;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #121417;
}

.infoList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.infoListItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-primary);
}

.infoIcon {
  fill: none;
  stroke: var(--color-primary);
}

.infoIconStar {
  fill: #ffc531;
}

.price {
  color: #38cd3e;
}

.lessonDetailsWrapper {
}

.lessonDetailsList {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lessonDetailsItem {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #8a8a89;
}

.lessonDetailsSpan {
  color: #121417;
}

.lessonDetailsList .lessonDetailsItem:first-child .lessonDetailsSpan {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.btnOpen {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-primary);
}

.levelList {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.levelItem {
  border: 1px solid #8a8a89;
  border-radius: 35px;
  padding: 8px 12px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 114%;
}

.levelItem:first-child {
  background-color: var(--color-profile);
}

.readMoreWrapper {
  margin-top: 12px;
}

.readMoreText {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.readMoreList {
  margin-top: 16px;
}

.readMoreItem {
}

.readMoreItemTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.readMoreItemTitleWrapper {
  display: flex;
  gap: 12px;
}

.ratingWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.readMoreItemTitle {
  font-weight: 500;
  line-height: 150%;
  color: #8a8a89;
}
.readMoreItemRating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.readMoreItemIcon {
  fill: #ffc531;
}

.readMoreItemText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.readMoreCommentText {
  font-weight: 500;

  line-height: 150%;
}

.btnModal {
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  border-radius: 12px;
  width: 232px;
  height: 60px;
  background-color: var(--color-profile);
  transition: background 250ms linear, transform 250ms linear;
}

.btnModal:hover,
.btnModal:focus {
  background-color: var(--color-profile-second);
  transform: translateY(-1px);
}

.btnModal:active {
  background-color: var(--color-profile);
  transform: scale(0.96) translateY(0);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .listContainer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .teacherContainer {
    gap: 20px;
  }

  .teacherInfo {
  }

  .listItem {
    gap: 18px;
    padding: 32px;
  }

  .imgWrapper {
    width: 120px;
    height: 120px;
    padding: 12px;
  }

  .titleWrapper {
    gap: 2px;
  }

  .titleText {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
  }

  .infoList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .infoListItem {
    position: relative;
    gap: 4px;
    font-size: 14px;
    padding-right: 16px;
  }

  .infoListItem:nth-child(1)::after,
  .infoListItem:nth-child(3)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #8a8a89;
  }

  .lessonDetailsList {
    margin-top: 32px;
  }

  .lessonDetailsItem {
    font-size: 16px;
  }

  .btnOpen {
    margin-top: 16px;
    font-size: 16px;
  }

  .levelList {
    margin-top: 16px;
  }

  .levelItem {
    font-size: 14px;
  }

  .readMoreWrapper {
    margin-top: 16px;
  }

  .readMoreText {
    font-size: 16px;
  }

  .readMoreList {
    margin-top: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .listContainer {
    padding-left: 64px;
    padding-right: 64px;
  }

  .teacherContainer {
    gap: 110px;
  }

  .teacherInfo {
  }

  .listItem {
    gap: 48px;
    padding: 24px;
  }

  .titleWrapper {
    gap: 8px;
  }

  .titleText {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
  }

  .infoList {
    gap: 16px;
  }

  .infoListItem {
    gap: 8px;
    font-size: 16px;
    padding-right: 16px;
  }

  .infoListItem:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #8a8a89;
  }

  .levelList {
    margin-top: 32px;
  }

  .levelItem {
  }
}
