.listContainer {
}

.list {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.listItem {
  display: flex;
  gap: 16px;
  padding: 12px;
  background-color: #fff;
  border-radius: 24px;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding: 8px;
  border-radius: 50%;
  border: 3px solid var(--color-profile-second);
  overflow: hidden;
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.teacherContainer {
  display: flex;
  gap: 22px;
}

.teacherInfo {
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-shrink: 0;
}

.titleText {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #8a8a89;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #121417;
}

.infoList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.infoListItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-primary);
}

.infoIcon {
  fill: none;
  stroke: var(--color-primary);
}

.infoIconStar {
  fill: #ffc531;
}

.price {
  color: #38cd3e;
}

.lessonDetailsWrapper {
}

.lessonDetailsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lessonDetailsItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.lessonDetailsSpan {
  color: #121417;
}

.lessonDetailsList .lessonDetailsItem:first-child .lessonDetailsSpan {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .listContainer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .teacherContainer {
    gap: 20px;
  }

  .teacherInfo {
  }

  .listItem {
    gap: 18px;
    padding: 16px;
  }

  .imgWrapper {
    width: 120px;
    height: 120px;
    padding: 12px;
  }

  .titleWrapper {
    gap: 2px;
  }

  .titleText {
    font-size: 14px;
  }

  .title {
    font-size: 18px;
  }

  .infoList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .infoListItem {
    position: relative;
    gap: 4px;
    font-size: 14px;
    padding-right: 16px;
  }

  .infoListItem:nth-child(1)::after,
  .infoListItem:nth-child(3)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #8a8a89;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .listContainer {
    padding-left: 64px;
    padding-right: 64px;
  }

  .teacherContainer {
    gap: 110px;
  }

  .teacherInfo {
  }

  .listItem {
    gap: 48px;
    padding: 24px;
  }

  .titleWrapper {
    gap: 8px;
  }

  .titleText {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
  }

  .infoList {
    gap: 16px;
  }

  .infoListItem {
    gap: 8px;
    font-size: 16px;
    padding-right: 16px;
  }

  .infoListItem:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #8a8a89;
  }
}
