.listContainer {
}

.list {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.listItem {
  display: flex;
  gap: 48px;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
}
.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  padding: 12px;
  border-radius: 50%;
  border: 3px solid var(--color-profile-second);
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .listContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .listContainer {
    padding-left: 64px;
    padding-right: 64px;
  }
}
