.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.logoIcon {
}

.logoText {
}
.nav {
  display: none;
}
.action {
  display: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .nav {
    display: block;
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .navItem {
    transition: transform 250ms linear;
  }

  .navItem a {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.25;
  }

  .navItem:hover,
  .navItem:focus {
    transform: translateY(-1px);
  }

  .navItem:active {
    transform: scale(0.96) translateY(0);
  }

  .action {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .actionBtnLogin {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    line-height: 125%;
    transition: transform 250ms linear;
  }

  .actionBtnLogin svg {
    transition: stroke 250ms linear;
  }

  .actionBtnLogin:hover,
  .actionBtnLogin:focus {
    transform: translateY(-1px);
  }

  .actionBtnLogin:active {
    transform: scale(0.96) translateY(0);
  }

  .actionBtnLogin:hover svg,
  .actionBtnLogin:focus svg {
    stroke: var(--color-profile-second);
  }

  .actionBtnLogin:active svg {
    stroke: var(--color-profile);
  }

  .actionBtnLoginIcon {
    fill: none;
    stroke: var(--color-profile);
  }

  .actionBtnRegister {
    color: #fff;
    border-radius: 12px;
    width: 145px;
    height: 48px;
    background: #121417;
    font-weight: 700;
    line-height: 125%;
    transition: background 250ms linear, transform 250ms linear;
  }

  .actionBtnRegister:hover,
  .actionBtnRegister:focus {
    background: #2b2d31;
    transform: translateY(-1px);
  }

  .actionBtnRegister:active {
    background: #121417;
    transform: scale(0.96) translateY(0);
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header {
    padding-left: 64px;
    padding-right: 64px;
  }

  .actionBtnRegister {
    width: 166px;
    height: 48px;
  }
}
