.header {
  padding: 20px 10px 20px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.logoIcon {
}

.logoText {
}
.nav {
  display: none;
}
.action {
  display: none;
}

.burgerMenuIcon {
  stroke: #121417;
  fill: none;
}

/* Styles for Burger Menu */

.burgerMenuWrapper {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  height: calc(100dvh - 88px);
  overflow-y: auto;
  padding: 0px 26px 32px 26px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
}

.burgerMenuNav {
}

.burgerMenuNavList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.burgerMenuNavItem {
  transition: transform 250ms linear;
}

.burgerMenuNavItem a {
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 1.25;
  font-weight: 600;
  font-size: 16px;
}

.burgerMenuNavItem:hover,
.burgerMenuNavItem:focus {
  transform: translateY(-1px);
}

.burgerMenuNavItem:active {
  transform: scale(0.96) translateY(0);
}

.burgerMenuAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.burgerMenuActionBtnLogin {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 125%;
  transition: transform 250ms linear;
}

.burgerMenuActionBtnLogin svg {
  transition: stroke 250ms linear;
}

.burgerMenuActionBtnLogin:hover,
.burgerMenuActionBtnLogin:focus {
  transform: translateY(-1px);
}

.burgerMenuActionBtnLogin:active {
  transform: scale(0.96) translateY(0);
}

.burgerMenuActionBtnLogin:hover svg,
.burgerMenuActionBtnLogin:focus svg {
  stroke: var(--color-profile-second);
}

.burgerMenuActionBtnLogin:active svg {
  stroke: var(--color-profile);
}

.burgerMenuActionBtnLoginIcon {
  fill: none;
  stroke: var(--color-profile);
}

.burgerMenuActionBtnRegister {
  color: #fff;
  border-radius: 12px;
  width: 100%;
  height: 48px;
  background: #121417;
  font-weight: 700;
  line-height: 125%;
  transition: background 250ms linear, transform 250ms linear;
}

.burgerMenuActionBtnRegister:hover,
.burgerMenuActionBtnRegister:focus {
  background: #2b2d31;
  transform: translateY(-1px);
}

.burgerMenuActionBtnRegister:active {
  background: #121417;
  transform: scale(0.96) translateY(0);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header {
    padding-left: 28px;
    padding-right: 28px;
  }

  .nav {
    display: block;
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .navItem {
    transition: transform 250ms linear;
  }

  .navItem a {
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 1.25;
  }

  .navItem:hover,
  .navItem:focus {
    transform: translateY(-1px);
  }

  .navItem:active {
    transform: scale(0.96) translateY(0);
  }

  .action {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .actionBtnLogin {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    line-height: 125%;
    transition: transform 250ms linear;
  }

  .actionBtnLogin svg {
    transition: stroke 250ms linear;
  }

  .actionBtnLogin:hover,
  .actionBtnLogin:focus {
    transform: translateY(-1px);
  }

  .actionBtnLogin:active {
    transform: scale(0.96) translateY(0);
  }

  .actionBtnLogin:hover svg,
  .actionBtnLogin:focus svg {
    stroke: var(--color-profile-second);
  }

  .actionBtnLogin:active svg {
    stroke: var(--color-profile);
  }

  .actionBtnLoginIcon {
    fill: none;
    stroke: var(--color-profile);
  }

  .actionBtnRegister {
    color: #fff;
    border-radius: 12px;
    width: 145px;
    height: 48px;
    background: #121417;
    font-weight: 700;
    line-height: 125%;
    transition: background 250ms linear, transform 250ms linear;
  }

  .actionBtnRegister:hover,
  .actionBtnRegister:focus {
    background: #2b2d31;
    transform: translateY(-1px);
  }

  .actionBtnRegister:active {
    background: #121417;
    transform: scale(0.96) translateY(0);
  }

  .burgerMenuBtn {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header {
    padding-left: 64px;
    padding-right: 64px;
  }

  .actionBtnRegister {
    width: 166px;
    height: 48px;
  }
}
