.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logoIcon {
}

.logo {
}

.nav {
}

.navList {
  display: flex;
  align-items: center;
  gap: 28px;
}
.navItem {
}

.navItem a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.action {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actionBtnLogin {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actionBtnLoginIcon {
}

.actionBtnRegister {
  color: #fff;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;
}
