.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.logoIcon {
}

.logoText {
}
.nav {
  display: none;
}
.action {
  display: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .navItem {
  }

  .navItem a {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .action {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .actionBtnLogin {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .actionBtnLoginIcon {
    fill: none;
    stroke: #121417;
  }

  .actionBtnRegister {
    color: #fff;
    border-radius: 12px;
    padding: 14px 39px;
    width: 166px;
    height: 48px;
    background: #121417;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
