.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 32px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .wrapper {
    padding-left: 64px;
    padding-right: 64px;
  }
}
