.burgerMenuWrapper {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  height: calc(100dvh - 88px);
  overflow-y: auto;
  padding: 0px 26px 32px 26px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
}

.nav {
}

.navList {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.navItem {
  transition: transform 250ms linear;
}

.navItem a {
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 1.25;
  font-weight: 600;
  font-size: 16px;
}

.navItem:hover,
.navItem:focus {
  transform: translateY(-1px);
}

.navItem:active {
  transform: scale(0.96) translateY(0);
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.actionBtnLogin {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 125%;
  transition: transform 250ms linear;
}

.actionBtnLogin svg {
  transition: stroke 250ms linear;
}

.actionBtnLogin:hover,
.actionBtnLogin:focus {
  transform: translateY(-1px);
}

.actionBtnLogin:active {
  transform: scale(0.96) translateY(0);
}

.actionBtnLogin:hover svg,
.actionBtnLogin:focus svg {
  stroke: var(--color-profile-second);
}

.actionBtnLogin:active svg {
  stroke: var(--color-profile);
}

.actionBtnLoginIcon {
  fill: none;
  stroke: var(--color-profile);
}

.actionBtnRegister {
  color: #fff;
  border-radius: 12px;
  width: 100%;
  height: 48px;
  background: #121417;
  font-weight: 700;
  line-height: 125%;
  transition: background 250ms linear, transform 250ms linear;
}

.actionBtnRegister:hover,
.actionBtnRegister:focus {
  background: #2b2d31;
  transform: translateY(-1px);
}

.actionBtnRegister:active {
  background: #121417;
  transform: scale(0.96) translateY(0);
}
