.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inputWrapper {
  position: relative;
}

.input {
  line-height: 1.25;
  width: 100%;
  padding: 16px 18px;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(18, 20, 23, 0.1);
  transition: border-color 250ms linear;
}

.input:hover,
.input:focus {
  border-color: rgba(18, 20, 23, 80);
}

.input:active {
  border-color: rgba(18, 20, 23, 10);
}

.input::placeholder {
  color: var(--color-primary);
}

.errorInput {
  border-color: red;
}

.error {
  position: absolute;
  font-size: 8px;
  color: red;
  top: 57px;
  left: 5px;
}

.icon {
  position: absolute;
  top: 17px;
  right: 17px;
  fill: none;
  stroke: var(--color-primary);
}

.btn {
  margin-top: 22px;
  border-radius: 12px;
  background-color: var(--color-profile);
  width: 100%;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  transition: background 250ms linear, transform 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-profile-second);
  transform: translateY(-1px);
}

.btn:active {
  background-color: var(--color-profile);
  transform: scale(0.96) translateY(0);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
